# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# ==============================
# VS Code
# ==============================
.vscode/
.history/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# Model Artifacts
# ==============================
models/
*.zip
*.pt
*.pth

# ==============================
# Streamlit
# ==============================
.streamlit/

# ==============================
# System Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Build / Cache
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Environment Variables
# ==============================
.env
.env.*

# ==============================
# Temporary Files
# ==============================
*.tmp
*.bak
*.swp


LICENSE